@charset "utf-8";
body  {
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	margin: 0; /* Je vhodné nastavit nulový okraj a odsazení elementu body a umožnit tak použití různých výchozích hodnot prohlížeče. */
	padding: 0;
}
#body-inner{
	background: #666666;
	margin:0;
	padding:0;
	text-align:center; /* Umístí kontejnery na střed v prohlížečích IE 5*. Text je nastaven na výchozí zarovnání vlevo v selektoru #container. */
	color:#000;
}
div {
  margin:0;
  padding:0;
}
h1.title, h2.title, h3.title{
  margin-top:0;
  color:#000;
}
td {
  font-size:10pt;
}
a {
  color:black;
}
a:hover{
  color:gray;
}
small {
font-size:8pt;
}
.twoColFixRtHdr #container { 
	width: 960px;  /* Nastavení o 20 px méně než je maximální šířka 800 px umožní zobrazení prvků prohlížeče a zabrání použití horizontální posuvné lišty. */
	background: #FFFFFF;
	margin: 0 auto; /* Automatické okraje (společně se šířkou) nastaví stránku na střed. */
	border: 1px solid #000000;
	text-align: left; /* Dojde k potlačení zarovnání textu: zarovnání na střed u elementu body. */
}
.twoColFixRtHdr #container #container-inner{

} 
.twoColFixRtHdr #header {
    height:120px; 
	background: #DDDDDD; 
}
.twoColFixRtHdr #header  #header-inner{
	position:relative;
	padding: 0 10px 0 20px;  /* Toto odsazení odpovídá zarovnání vlevo u elementů v tazích div, které se nacházejí pod ním. Pokud je v tagu #header použit obraz namísto textu, můžete chtít odsazení odstranit. */
}
/* Header Logo Block */
.twoColFixRtHdr #header #header-inner #block-logo {
	left:4px;
	position:absolute;
	top:13px;
}

/* Header Title Block */
.twoColFixRtHdr #header #header-inner #block-header-title{
position:absolute;
top:20px;
left:470px;
}

.twoColFixRtHdr #header #header-inner #block-header-title h2{
margin:0;
}

.twoColFixRtHdr #header #header-inner #block-header-title h2 a{
color: black;
font-weight: bold;
text-decoration: none;
}

/* Header Slogan Block */
.twoColFixRtHdr #header #header-inner #block-slogan {
position:absolute;
right:150px;
top:55px;
}
.menu-nav-bar {
background:none repeat scroll 0 0 #000000;
height:28px;
left:0;
line-height:28px;
position:absolute;
top:92px;
width:960px;
}

.menu-nav-bar .menu-item {
float:left;
padding:0;
}
.menu-nav-bar .menu-item.active {
background:none repeat scroll left 0 #333;
padding:0 10px;
}
.menu-nav-bar .menu-item a {
color:#FFF;
display:block;
font-family:"Trebuchet MS",Tahoma,Arial;
font-weight:bold;
padding:0 10px;
text-decoration:none;
}
.menu-nav-bar .menu-item a:hover {
color: #ccc;
background:none no-repeat scroll center bottom transparent;
}
.menu-nav-bar .menu-item.active a {
background:none repeat scroll right 0 transparent;
color:#FFFFFF;
padding:0;
}
.menu-nav-bar .menu-item.first {
margin-left:10px;
}
.menu-nav-bar .menu-item.last {
} 
.twoColFixRtHdr #header h1 {
	margin: 0; /* vynulováním okraje posledního elementu v tagu #header div zabráníte sbalení okraje – nevysvětlitelné mezeře mezi tagy div. Pokud má tag div kolem pevný okraj, není tato operace nutná, jelikož rovněž nedochází ke sbalení okraje. */
	padding: 10px 0; /* Použitím odsazení namísto okraje umožníte ponechání elementu ve vzdálenosti od okrajů tagu div. */
}
.twoColFixRtHdr #sidebar1 {
	float: right; /* Jelikož se jedná o plovoucí element, je nutné zadat šířku. */
	width: 220px; /* Skutečná šířka tohoto tagu div v prohlížečích, které odpovídají standardům, a standardním režimu prohlížeče Internet Explorer bude zahrnovat odsazení a pevný okraj přičtený k šířce. */
	background: #EBEBEB; /* Barva pozadí se bude zobrazovat v délce obsahu sloupce, nikoli však dále. */
	padding:0;
}
.twoColFixRtHdr #sidebar1 #sidebar1-inner{
	margin:0;
	padding: 15px 10px;
}
.twoColFixRtHdr #mainContent { 
	margin: 0 220px 0 0; /* Pravý okraj u tohoto elementu div vytvoří sloupec podél pravé strany stránky – bez ohledu na množství obsahu v tagu sidebar1 div bude prostor sloupce zachován. Okraj můžete odstranit, chcete-li, aby text v tagu #mainContent div vyplnil prostor v tagu #sidebar1, když obsahu tagu #sidebar1 skončí. */
	padding: 0; /* Odsazení představuje mezeru uvnitř pole div, okraj představuje mezeru vně pole div. */
}
.twoColFixRtHdr #mainContent #mainContent-inner { 
	margin: 0; /* Pravý okraj u tohoto elementu div vytvoří sloupec podél pravé strany stránky – bez ohledu na množství obsahu v tagu sidebar1 div bude prostor sloupce zachován. Okraj můžete odstranit, chcete-li, aby text v tagu #mainContent div vyplnil prostor v tagu #sidebar1, když obsahu tagu #sidebar1 skončí. */
	padding: 10px 20px; /* Odsazení představuje mezeru uvnitř pole div, okraj představuje mezeru vně pole div. */
}
.twoColFixRtHdr #footer { 
	padding: 0 10px 0 20px; /* Toto odsazení odpovídá zarovnání vlevo u elementů v tazích div, které se nacházejí nad ním. */
	background:#DDDDDD; 
} 
.twoColFixRtHdr #footer p {
	margin: 0; /* Vynulováním okrajů prvního elementu v zápatí zabráníte možnému sbalení okraje – vzniku mezery mezi tagy div. */
	padding: 10px 0; /* Odsazení tohoto elementu vytvoří mezeru stejně jako okraj, avšak bez problému se sbalením okraje. */
}
.twoColFixRtHdr #footer  #footer-inner{ 
	text-align:center;
	height:40px;
	line-height:40px;
}
.twoColFixRtHdr #footer #footer-inner  a.copyright{
	text-decoration:none;
	color:inherit;
}
.twoColFixRtHdr #footer #footer-inner  a.created-link{
	text-decoration:none;
	color:inherit;
}
.twoColFixRtHdr #footer #footer-inner  a.created-link:hover{
	text-decoration:underline;
	color:#666;
}
.fltrt { /* Tuto třídu lze použít pro nastavení plovoucího elementu vpravo na stránce. Plovoucí element musí předcházet element, vedle kterého se má na stránce zobrazovat. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* Tuto třídu lze použít pro nastavení plovoucího elementu vlevo na stránce. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* Tato třída musí být umístěna u elementu div nebo break a musí být posledním elementem před uzavřením kontejneru, který musí plovoucí prvek zcela obsahovat. */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}